.bopae-circle {
	position: relative;
}

.bopae-circle .bopae-bg-image {
	margin-left: -23px;
	margin-top: -23px;
}

.bopae-circle .bopae-part {
	pointer-events: none;
	position: absolute;
}
.bopae-circle .bopae-part:hover {
	z-index: 1;
	filter: drop-shadow(0 0 4px green);
}
.bopae-circle .bopae-part.selected {
	opacity: 0.5;
}

.bopae-circle .bopae-part img {
	position: absolute;
	transition: transform 0.2s ease;
}
.bopae-circle .bopae-part:not(:hover) img {
	transform: none !important;
}

.bopae-circle .bopae-part-mask {
	position: absolute;
}
.bopae-circle .bopae-part-mask polygon {
	pointer-events: all;
	fill: none;
}

