@media (max-width: 1200px) {
	main .main-wrap {
		padding-left: 10px;
		padding-right: 10px;
	}
	main section .margin-left{
		margin-left: 10px;
	}
	.list-with-search .item-table .icon-cell {
		width: 66px;
	}
	.list-with-search .piece-detail .right{
		position: absolute;
		left: -20px;
		top: 13px;
	}
	.list-with-search .piece-detail .piece{
		width: 20px;
	}
}
@media (max-width: 767px) {
	html{
		overflow: hidden;
	}
	header{
		height: 44px;
	}
	.logo{
		font-size: 17px;
		padding-top: 13px;
	}
	.bottom-tabs{
		display: block;
	}
	main .main-wrap{
		padding: 10px 0;
	}
	main section {
		width: calc(100% - 20px);
		margin: 0 10px;
	}
	main section .margin-left{
		margin-left: 0;
	}
	.bopae-calc{
		white-space: nowrap;
	}
	.list-with-search .item-table .icon-cell {
		width: 0;
	}
}
