@media (max-width: 1200px) {
	main .main-wrap {
		padding-left: 10px;
		padding-right: 10px;
	}
	main section .margin-left{
		margin-left: 10px;
	}
	.list-with-search .item-table .icon-cell {
		width: 66px;
	}
	.list-with-search .piece-detail .right{
		position: absolute;
		left: -20px;
		top: 13px;
	}
	.list-with-search .piece-detail .piece{
		width: 20px;
	}
}
@media (max-width: 767px) {
	main section {
		width: auto;
		margin-bottom: 10px;
	}
	main section .margin-left{
		margin-left: 0;
	}
	.list-with-search .item-table .icon-cell {
		width: 0;
	}
}
