html{
	min-height: 100%;
	background: #12131f;
}
.app{
	min-height: 100%;
	background: black;
	color: #ebe5fb;
	font-color: #ebe5fb;
	position: relative;
}
header{
	height: 85px;
	/*background:#7c5daa;*/
	/*background: #6e18ef;*/
	background: #8149d6;
	color: white
}
.logo{
	font-family: 'Roboto Slab', serif;
	font-size: 28px;
	text-align: center;
	padding-top: 26px;
}


main{
	padding-bottom: 100px;
	position: relative;
	overflow: hidden;
}
.main-bg{
	position: absolute;
	top: -10px;
	bottom: -10px;
	left: -10px;
	right: -10px;
	/*background-image: url(http://bnsbase.com/img/mpi/2.jpg);*/
	background-image: url(../img/bg.jpg);
	background-size: cover;
}
main .main-wrap{
	padding: 70px 40px;
	background: rgba(0, 0, 0, 0.5);
}
main section{
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
main section .margin-left{
	margin-left: 20px;
}
main section>*{
	text-align: initial;
}
main section figure{
	display: inline-block;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: #12131f;
}
.main-wrap{
	max-width: 1200px;
	margin: auto;
	position: relative;
}
