.bopae-piece-editor{
	height: 436px;
	background: rgba(0, 0, 0, 0.75);
	padding: 15px;
	position: relative;
	padding-bottom: 44px;
}
.bopae-piece-editor h2,
.bopae-piece-editor h3 {
	margin-top: 0;
}
.stat-cust-wrap{
	padding-bottom: 16px;
	white-space: nowrap;
}
.stat-cust-wrap>*{
	vertical-align: middle;
	display: inline-block;
}
.bopae-piece-editor button{
	margin-left: 12px;
}
.bopae-piece-editor .bottom-controls{
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
}
.bopae-piece-editor .bottom-controls button:nth-child(1){
	margin-left: 0;
}
