.bopae-piece-editor{
	height: 560px;
	background: rgba(0, 0, 0, 0.75);
	padding: 15px;
	position: relative;
	padding-bottom: 44px;
}
.bopae-piece-editor h2,
.bopae-piece-editor h3 {
	margin-top: 0;
	white-space: normal;
}
.bopae-piece-editor h3 {
	padding-bottom: 15px;
}
.bopae-piece-editor h2{
	padding-bottom: 11px;
}
.stat-cust-wrap{
	white-space: nowrap;
}
.stat-cust-wrap>*{
	vertical-align: middle;
	padding: 9px 4px;
}
.stat-cust-wrap.title td{
	font-weight: bold;
	padding: 4px;
	background: #391252;
	letter-spacing: 0.6px;
}
.stat-cust-wrap.title td span{
	font-weight: normal;
	opacity: 0.5;
	letter-spacing: initial;
	padding-left: 5px;
}
.bopae-piece-editor button{
	margin-left: 12px;
}
.bopae-piece-editor .bottom-controls{
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
}
.bopae-piece-editor .bottom-controls button:nth-child(1){
	margin-left: 0;
}
