.bopae-piece-editor{
	height: 560px;
	background: rgba(0, 0, 0, 0.75);
	padding: 15px;
	position: relative;
}
.bopae-piece-editor h2,
.bopae-piece-editor h3 {
	margin-top: 0;
	white-space: normal;
}
.bopae-piece-editor h3 {
	padding-bottom: 15px;
}
.bopae-piece-editor h2{
	padding-bottom: 11px;
}
.stat-cust-wrap{
	white-space: nowrap;
}
.stat-cust-wrap>*{
	vertical-align: middle;
	padding: 9px 4px;
}
.stat-cust-wrap.synth .input-range .min{
	width: 19px;
}
.stat-cust-wrap.synth .select-cell{
	padding: 0;
}
.stat-cust-wrap.inactive{
	opacity: 0.5;
}
.stat-cust-wrap.inactive .thumb{
	filter: grayscale(70%);
}
.stat-cust-wrap.title td{
	font-weight: bold;
	padding: 4px;
	background: #391252;
	letter-spacing: 0.6px;
}
.stat-cust-wrap.title td span{
	font-weight: normal;
	opacity: 0.5;
	letter-spacing: initial;
	padding-left: 5px;
}
.bopae-piece-editor button{
	margin-left: 12px;
}

.bopae-piece-editor .controls-wrap button:nth-child(1){
	margin-left: 0;
}
.bopae-piece-editor.one-butt button{
	position: absolute;
	top: 50%;
	left: 20px;
	right: 20px;
	margin: -50px 0 0 0;
}
.bopae-piece-editor.flexed{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}

.bopae-piece-editor .stats-wrap{
	overflow-y: auto;
	padding-bottom: 5px;
}
.bopae-piece-editor .controls-wrap{
	padding-top: 15px;
	height: auto;
}