.tiles>div>div{
	background-size: 980px;
	overflow: hidden;
}
.tiles>div>div:hover{
	-webkit-filter: brightness(0.9);	
}




.bb1>div{
	background: url('/img/bb/1.jpg');
}

.bb2>div{
	background: url('/img/bb/2.jpg');
}


.bb3>div{
	background: url('/img/bb/3.jpg');
}


.bb4>div{
	background: url('/img/bb/4.jpg');
}


.bb5>div{
	background: url('/img/bb/5.jpg');
}
.bb5>div:nth-child(2){
	background-position: 500px 0;
}
.bb5>div:nth-child(3){
	background-position: 500px 37%;
}

.bb6>div{
	background: url('/img/bb/6.jpg');
}
.bb6>div:nth-child(2){
	background-position: 500px 0;
}
.bb6>div:nth-child(3){
	background-position: 500px 37%;
}

.bb7>div{
	background: url('/img/bb/7.jpg');
	background-position: 0px -84px;
}

.bb8>div{
	background: url('/img/bb/8.jpg');
}
.bb8>div:nth-child(2){
	background-position: -262px 0;
}
.bb8>div:nth-child(3){
	background-position: -262px 37%;
}
.bb8>div:nth-child(4){
	background-position: 500px 37%;
}
.bb8>div:nth-child(5){
	background-position: -524 0px;
}
.bb8>div:nth-child(6){
	background-position: -524 37%;
}
.bb8>div:nth-child(7){
	background-position: -786px 0;
}

.bb9>div{
	background: url('/img/bb/9.jpg');
}
.bb9>div:nth-child(3){
	background-position: 0% -270px;
}
.bb9>div:nth-child(4){
	background-position: 0% -270px;
}
.bb9>div:nth-child(5){
	background-position: 0% -540px;
}
.bb9>div:nth-child(6){
	background-position: 0% -540px;
}
.bb9>div:nth-child(7){
	background-position: 0 -810px;
}
.bb9>div:nth-child(even){
	background-position-x: -500px;
}

.bb10>div{
	background: url('/img/bb/10.jpg');
	background-position: 0px -20px;x;
}