.item-card
	> *
		box-sizing: border-box
	padding: 11px
	border-radius: 7px
	border: 1px solid rgb(207, 207, 207)
	width: 230px
	.name
		height: 55px
		padding-left: 11px
		padding-right: 11px
		max-width: 175px
		font-size: 16px
		font-weight: 600
		margin-bottom: 11px
		&.purple
			color: #A800DC
		&.blue
			color: #006BDC
	.name,
	.icon
			float: left
	.icon
		float: left
		width: 55px
		height: 55px
		border-radius: 5px
		background-size: cover
		opacity: 0.9
		margin-bottom: 11px
	.descr
		float: left
