body
	font-family 'Open Sans', sans-serif
	-webkit-font-smoothing antialiased

a
	text-decoration none
	color #1568C4
	&:visited
		color rgb(119, 37, 151)
	&:hover
		color #1568C4
	&:active
		color #1568C4

.page a[href*="map"], .wepPopup a[href*="map"]
	position relative
	margin-right 15px

.page a[href*="map"]:after, .wepPopup a[href*="map"]:after
	content ''
	width 2px
	margin-top 2px
	height 2px
	margin-left 3px
	border-radius 50% 50% 50% 0%
	background #3394ff
	border 5px solid #3394ff
	-webkit-transform rotate(-45deg)
	-moz-transform rotate(-45deg)
	-ms-transform rotate(-45deg)
	transform rotate(-45deg)
	position absolute
	cursor pointer

.header_logo a,.header_logo a:hover,.header_logo a:active,.header_logo a:visited
	width 100%!important
	height 100%!important
	display block!important
	color white!important

.morf_line
	a
		&:visited
			color #1568C4
	.id_text
		a
			border-bottom 1px dotted #1568C4

h1
	color rgba(0,0,0,1)
	font-style normal
	font-weight 300
	margin-bottom 0
	font-size 56px
	margin-bottom 35px

h2
	color rgba(0,0,0,1)
	font-style normal
	font-weight normal
	margin-bottom 0
	margin-top 40px
	font-size 30px
	padding-bottom 20px

h3
	color #717171
	font-style normal
	font-weight normal
	margin-bottom 0
	font-size 25px
	margin-top: 24px;
	padding-bottom: 10px;

h4
	line-height 24px
	font-size 16px

.f_l
	float left

.f_r
	float right

.hidden
	display none

.visible
	display block

.c_pointer
	cursor pointer

.header
	min-width 1260px
	overflow visible
	width 100%
	height 60px
	line-height 60px
	background #5CA3F1
	color white
	font-family 'Helvetica','Arial', sans-serif
	z-index 9999

.header_wrap, .ftop_inner
	width 1240px
	margin 0 auto

.header_nav
	margin-left 100px
	margin-right 100px
	height 60px

#menu .level-0 .hb_curr
	& > a
		color rgb(199, 235, 245)!important

.hb_new> a, .hb_new:hover> a
	color rgb(255, 232, 0)!important

#menu  ul, #menu li
	z-index 9999
	margin 0
	padding 0
	list-style-type none
	cursor pointer

#menu
	display block
	a
		color white
		text-decoration none
		transition color 0.3s
		display block
		height 100%
		&:hover
			color rgb(220, 247, 255)
	& > li
		display inline-block
		position relative
		padding-right 3%
		&:last-child
			padding-right 0
		& > ul
			position absolute
			top 2.5em
			left -20px
			line-height normal
			visibility hidden
			opacity 0
			transition visibility 0s linear 0.1s, opacity 0.1s linear
			padding 10px
			background #5CA3F1
			width 150px
			& > li
				& > a
					padding 5px
		&:hover
			& > ul
				visibility visible
				opacity 1
				transition-delay 0s
		.level-2
			li a
				padding: 5px;
				padding-left: 20px;

.content
	background rgb(245, 245, 245)
	overflow hidden
	min-width 1260px
	min-height 90%
	min-height calc(100% - 160px)
	position: relative;
.page
	width 980px
	margin 0 auto
	background white
	margin-top 70px
	border-radius 1px
	overflow hidden
	border 1px solid rgb(248, 248, 248)
	box-shadow rgba(0, 0, 0, 0.0666667) 0px 0px 1px 0px
	img
		max-width 902px
		margin-bottom 18px
	.site_contents_table
		display block

.page_text ul
	list-style none
	word-spacing -1px
	line-height 24px
	margin-bottom 18px
	list-style-position inside
	text-indent 21px
	position relative
	li
		&:before
			color rgba(65,65,65,1)
			content "\02022"
			font-size 18px
			left -15px
			padding-top 1px
			position absolute

.page_text ol
	list-style decimal
	word-spacing -1px
	line-height 24px
	list-style-position inside
	text-indent 21px
	margin-bottom 18px

.ul_nostyle
	list-style none
	padding-left 0
	margin-bottom 0
	word-spacing 0

.pa_add_content
	ul
		list-style none
		padding-left 0
		margin-bottom 0
		word-spacing 0
		padding-left 20px
		padding-top 5px
		padding-bottom 15px
		line-height 24px

.page_text
	width 706px
	padding 40px
	box-sizing border-box
	overflow visible
	p
		margin-bottom 12px
		line-height 24px

.page_add
	width 248px
	background white
	margin-top 138px
	margin-right 7px
	margin-left 12px

.pa_add_body
	border 1px solid rgb(207, 207, 207)
	border-radius 5px
	box-sizing border-box

.pa_add_title
	height 40px
	line-height 40px
	padding-left 20px
	font-size 20px

.footer
	width 100%
	min-width 1260px
	min-height 10%
	overflow hidden
	background rgb(245, 245, 245)

.footer_wrap
	padding-top 50px
	padding-bottom 50px
	width 980px
	margin 0 auto
	overflow hidden
	text-align justify
	a
		position relative
		top 24px
		display inline-block
		white-space nowrap
		color rgb(66, 79, 87)
	&:after
		content ''
		display inline-block
		width 100%
	&:before
		content ''
		display block
		width 100%
		margin-bottom -30px

#fake_top_panel
	height 60px
	background rgba(255, 255, 255, 0.97)
	width 100%
	position fixed
	top 0
	left 0
	right 0
	z-index 9999
	border-bottom 1px solid rgb(245, 245, 245)

.ftp_visible
	opacity 1
	visibility visible
	transition-delay 0s
	-webkit-animation a_ftp_visible .3s
	animation a_ftp_visible .3s
/* Standard syntax */
@keyframes a_ftp_visible {
		from {
	-moz-transform: translateY(-150px);
		-ms-transform: translateY(-150px);
		-webkit-transform: translateY(-150px);
		-o-transform: translateY(-150px);
		transform: translateY(-150px);
	}
		to {
	-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}
.ftp_hidden{
	opacity:0;
	visibility: hidden;
	transition-delay:0s;
	transition: visibility 0s linear 0.1s, opacity 0.1s linear;
}
.ftop_inner{
	line-height: 60px;
	overflow: hidden;
}
.ftop_inner>div:nth-child(1){
	font-size: 21px;
	cursor: pointer;
	transition: color 0.2s;
}
.ftop_inner>div:nth-child(1):hover{
	color: rgb(85, 85, 85);
}
.ftop_inner>div:nth-child(2){
	padding-left: 15px;
	font-size: 21px;
}
.ftop_inner>div:nth-child(3){
	padding-left: 42px;
	font-size: 21px;
	font-weight: 600;
}
#fake_pages_list{
	position: fixed;
	top: 60px;
	bottom:0;
	left: 0;
	width: 290px;
	background: rgba(255, 255, 255, 0.97);
	border-right: 1px solid rgb(245, 245, 245);
	z-index: 9999;
}
.fpl_hidden{
	opacity:0;
	visibility: hidden;
	-webkit-animation: a_fpl_hidden .2s; /* Chrome, Safari, Opera */
		animation: a_fpl_hidden .2s;
}
@-webkit-keyframes a_fpl_hidden {
		from {
	opacity:1;
	visibility: visible;
	-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
		to {
	opacity:0;
	visibility: hidden;
	-moz-transform: translateX(-150px);
		-ms-transform: translateX(-150px);
		-webkit-transform: translateX(-150px);
		-o-transform: translateX(-150px);
		transform: translateX(-150px);
	}
}
/* Standard syntax */
@keyframes a_fpl_hidden {
		from {
	opacity:1;
	visibility: visible;
	-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
		to {
	opacity:0;
	visibility: hidden;
	-moz-transform: translateX(-150px);
		-ms-transform: translateX(-150px);
		-webkit-transform: translateX(-150px);
		-o-transform: translateX(-150px);
		transform: translateX(-150px);
	}
}
.fpl_visible{
	opacity: 1;
	visibility: visible;
	-webkit-animation: a_fpl_visible .2s; /* Chrome, Safari, Opera */
		animation: a_fpl_visible .2s;
}

@-webkit-keyframes a_fpl_visible {
		from {
	opacity:0;
	visibility: hidden;
	-moz-transform: translateX(-150px);
		-ms-transform: translateX(-150px);
		-webkit-transform: translateX(-150px);
		-o-transform: translateX(-150px);
		transform: translateX(-150px);
	}
		to {
	opacity:1;
	visibility: visible;
	-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
/* Standard syntax */
@keyframes a_fpl_visible {
		from {
	opacity:0;
	visibility: hidden;
	-moz-transform: translateX(-150px);
		-ms-transform: translateX(-150px);
		-webkit-transform: translateX(-150px);
		-o-transform: translateX(-150px);
		transform: translateX(-150px);
	}
		to {
	opacity:1;
	visibility: visible;
	-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
.fpl_inner
	& > div
		padding 20px
		& > div
			&:nth-child(1)
				font-size 20px
				max-width 195px
			&:nth-child(2)
				width 20px
				height 20px
				border-radius 50%
				border 1px solid grey
				line-height 19px
				text-align center
				font-size 23px
			&:nth-child(2):hover
				color rgb(85, 85, 85)
				border 1px solid grey
		&:nth-child(1)
			margin-top 10px
		&:nth-child(2)
			margin-top 10px
	ul
		li
			margin-bottom 10px
			min-height 25px
			display block
			padding-left 10px
	.ul_heading
		border-bottom 1px solid rgb(207, 207, 207)
		padding-left 0px

#hypercomments_widget
	float left
	width 706px
	padding 36px
	box-sizing border-box

.hc_footer
	display none!important

.top_adds_wrap
	padding-top 20px
	display none
	width 100%

.top_adds_content
	width 95%
	margin 0 auto
	text-align center

.bottom_adds_wrap
	padding-top 50px
	padding-bottom 20px
	display none

.bottom_adds_content
	width 980px
	margin 0 auto
	padding 0px 31px
	box-sizing border-box
	.adds_desktop
		text-align center

.adds_enabled .top_adds_wrap ,.adds_enabled .bottom_adds_wrap
	display block

.adds_enabled_top
	.top_adds_wrap
		display block

.adds_enabled_bottom
	.bottom_adds_wrap
		display block

.adds_enabled .page,.adds_enabled_top  .page
	margin-top 40px

.site_contents_table
	display none
	float left
	width 100%
	box-sizing border-box
	padding 0px 40px
	& > table
		width 100%
	table
		th
			text-align center
		td
			line-height normal!important
			padding-top 10px
			padding-bottom 10px
	a
		display inline-block
		padding-left 15px
		text-transform lowercase
	a[href*="map"]:after
		display none!important

.page
	.site_contents_table
		display block

.top_news_banner
	height 30px
	line-height 30px
	position relative
	background #BDE85D
	text-align center
	color rgb(0, 28, 139)
	font-size 14px
	width 100%
	a
		font-weight 600

#closeTopNewsBanner
	position absolute
	top 0px
	right 10px
	font-size 24px
	cursor pointer
	display none
