#mobile_header_wrap{
	display: none;
}
.mobile_footer_wrap{
	display: none;
}
.ingr_mobile{
	display: none;
}
.mobile_calc{
	display: none;
}
.planes_mobile{
	display: none;
	padding: 0px;
}
.plate_holder{
	width: 100%;
}
.plate_holder>div{
	float: left;
}
.adds_desktop{
	display: block!important;
}
.adds_mobile{
	display: none!important;
}
@media (min-width: 0px) and (max-width: 760px) {
/*                                          mobile */
/*                                          site header */
.header {
	min-width: 100%;
	height: 50px;
}
.header_wrap{
	display: none;
}
#mobile_header_wrap{
	display: block;
	line-height: initial;
	overflow: hidden;
	max-height: 50px;
	transition: max-height 0.3s;
	background: #5CA3F1;
	z-index: 9999;
	position: relative;
}
.mhw_open{
	max-height: 900px!important;
}
.mh_header{
	height: 50px;
	width: 100%;
	line-height: 50px;
	padding-left: 10px;
}
.mh_header a{
	color: white!important;
}
.mh_header p{
	margin-right: 50px;
	height: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#mh_control{
	float: right;
	height: inherit;
	width: 50px;
	line-height: 50px;
	text-align: center;
	transition: all .1s;
	position: absolute;
	top: 0px;
	right: 0px;
}
.mhw_open #mh_control{
	transform: rotate(90deg);
}
.mh_links{
	overflow: hidden;
	background: rgb(136, 191, 250);
	padding-bottom: 10px;
}
.mh_links a,.mh_links a:hover, .mh_links a:visited, .mh_links a:active{
	display: block;
	float: left;
	padding: 2px 7px;
	margin: 3px 7px;
	background: white;
	color: #1568C4;
	border-radius: 5px;
}
.mh_links p{
	width: 100%;
	float: left;
	padding: 10px;
	padding: 5px 10px;
}
/*                                          main page content*/
.head_1{
	font-size: 10vw!important;
	color: white!important;
}
.head_2{
	font-size: 8vw!important;
	color: white!important;
}
#con_bg{
	min-width: 0px!important;
	background-size: cover!important;
	-webkit-filter: brightness(0.7);
	transform: translateY(0px)!important;
}
.content{
	min-width:100%;
}
.blocks{
	padding: 10px;
	box-sizing: border-box;
}
.block_line, .tiles {
	width: auto;
}
.block_line {
	padding-top: 10px!important;
}
.blocks_wrap {
	width: 100%!important;
}
.block_additions{
	display: none;
}
/*                                   tiles */
.tiles div {
	position: relative;
	width: 100%!important;
	height: 300px;
}
.tiles p{
	font-size: 4vw!important;
}
.tiles .t_4>div {
	width: 48%!important;
}
.tiles .t_4>div:nth-child(3) {
	left: 50%!important;
}
.tiles .t_4>div:nth-child(4) {
	left: 50%!important;
}
.tiles .t_3>div:nth-child(1) {
	width: 48%!important;
}
.tiles .t_3>div:nth-child(2) {
	width: 48%!important;
	left: 50%!important;
}
.tiles .t_3>div:nth-child(3){
	width: 48%!important;
	left: 50%!important;
}
.tiles .t_2>div:nth-child(1) {
	width: 48%!important;
}
.tiles .t_2>div:nth-child(2) {
	width: 48%!important;
	left: 50%!important;
}

.tiles .t_7>div{
	position: static;
}
/*                                   end of tiles */
.footer{
	min-width: 0px;
}
.footer_wrap {
	display: none;
}
.mobile_footer_wrap{
	display: block;
}
.mobile_footer_wrap a{
	display: block;
	width: 100%;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
}
/*                                          text pages*/
#fake_top_panel, #page_contents, .page_add{
	display: none!important;
	visibility: hidden!important;
}
.page {
	width: 100%;
}
.page{
	padding: 0px!important;
}
.page h1{
	font-size: 10vw!important;
	padding-top: 25px;
}	
	
.page_text{
	padding: 10px!important;
	width: 100%!important;
}
.page img {
	max-width: 100%!important;
}
#hypercomments_widget {
	float: none!important;
	width: auto!important;
	padding: 10px!important;
}
.weps_table {
	width: 100%!important;
}
.weps_table>div:nth-child(n+2) {
	margin-left: 0px!important;
}
.weps_table_inner{
	box-sizing: initial!important;
	padding: 10px;
	background: rgb(236, 242, 249);
	margin-bottom: 10px!important;
	margin-right: 10px!important;
	border-radius: 5px;
}
.item_name{
	background: rgb(236, 242, 249)!important;
}
.weps_acc .weps_table_inner{
	width: 210px!important;
	box-sizing: initial!important;
}
.page table {
	width: 100%!important;
	table-layout: fixed;
}
.page table td {
	padding-left: 10px!important;
	padding-right: 10px!important;
	text-overflow: ellipsis;
	overflow: hidden;
}
.page table tr:nth-child(n+2) {
	line-height: normal;
}
.page table tr:nth-child(n+2) td{
	padding-top: 5px;
	padding-bottom: 5px;
	
}
.ca_wrap{
	width: 100%!important;
}
/*.bnsbt1{
	table-layout: fixed;
}
.bnsbt1 td{
	padding-top: 5px!important;
	width: 0%!important;
	line-height: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
*/
.bnsbt1 tr,.tree_line_wrap{
	display: none;
}
.bnsbt1:after,.tree_line_wrap:after{
	color: grey;
	content: "Таблица отображается только в полной версии сайта.";
	font-style: italic;
}
.plate_descr{
	margin-left: 0px!important;
}
.ingr{
	display: none;
}
.ingr_mobile{
	display: block;
	margin-left: -7px;
}
.blocks .ingr_mobile a, .blocks  .ingr_mobile a:hover, .blocks  .ingr_mobile a:active, .blocks  .ingr_mobile a:visited{
	float: left;
	padding: 7px 7px;
	margin: 3px 7px;
	background: rgb(92, 163, 241);
	color: #FFFFFF!important;
	border-radius: 5px;
	width: auto!important;
	height: auto!important;
}
.s_craft{
	width: 100%!important;
	margin-left: 0px!important;
}
.s_craft a{
	font-size: 10px!important;
}
.ul_dot{
	text-indent: 21px!important;
}
.ul_num{
	text-indent: 11px!important;
}
.mobile_calc{
	display: block;
	font-style: italic;
	color: grey;
}
.planes_mobile{
	overflow: hidden;
	padding: 15px;
}
.plate_holder{
	width: auto;
}
.plate_holder>div{
	float: none;
}
/*                              turning off some blocks*/
.daily_line{
	display: none;
}
.main_map_wrap, .map_selector, .calc_content{
	width: 0px;
	height: 0px;
	position: relative;
	border-color: transparent!important;
}
.calc_content{
	overflow: hidden;
}
.map_selector>div{
	display: none;
}
.main_map_wrap:after, .map_selector:after{
	color: grey;
	content: "Эта страница отображается только в полной версии сайта.";
	position: absolute;
	top: 0px;
	left: 10px;
	font-style: italic;
}
.planes_mobile{
	display: block!important;
}
.planes_desctop{
	display: none!important;
}
.p_select{
	display:none;
}
.site_contents_table{
	display: none!important;
}
.top_news_banner{
	display: none;
}
/*                                                adds */
.bottom_adds_content{
	padding: 0px 15px
}
.adds_desktop{
	display: none!important;
}
.adds_mobile{
	display: block!important;
}
}