.group_bottom_1{
	border-bottom: 5px solid #ff2d55;
}
.group_top_1{
	border-top: 5px solid #ff2d55;
}
.group_bottom_2{
	border-bottom: 5px solid #fc0;
}
.group_top_2{
	border-top: 5px solid #fc0;
}
.wep_1{
	background: url('http://i.imgur.com/j93pUTZ.png');
	background-size: cover;
}
.wep_2{
	background: url('http://i.imgur.com/qGRmkhk.png');
	background-size: cover;
}
.wep_3{
	background: url('http://i.imgur.com/kYvvTEk.png');
	background-size: cover;
}
.wep_4{
	background: url('http://i.imgur.com/MYiYioL.png');
	background-size: cover;
}
.wep_5{
	background: url('http://i.imgur.com/TAom9JW.png');
	background-size: cover;
}
.wep_6{
	background: url('http://i.imgur.com/vTbz1NY.png');
	background-size: cover;
}
.wep_7{
	background: url('http://i.imgur.com/NReq8bt.png');
	background-size: cover;
}
.wep_8{
	background: url('http://i.imgur.com/MfzjkmK.png');
	background-size: cover;
}
.wep_7{
	background: url('http://i.imgur.com/NReq8bt.png');
	background-size: cover;
}
.wep_9{
	background: url('http://i.imgur.com/ig7nDFC.png');
	background-size: cover;
}
.wep_10{
	background: url('http://i.imgur.com/uqV7uBr.png');
	background-size: cover;
}
.wep_11{
	background: url('http://i.imgur.com/3vJ8ud7.png');
	background-size: cover;
}
.wep_12{
	background: url('http://i.imgur.com/PYk70QI.png');
	background-size: cover;
}
.wep_13{
	background: url('http://i.imgur.com/WVCy1C5.png');
	background-size: cover;
}
.wep_14{
	background: url('http://i.imgur.com/dSn4OnR.png');
	background-size: cover;
}
.wep_15{
	background: url('http://i.imgur.com/DXaUna3.png');
	background-size: cover;
}
.wep_16{
	background: url('http://i.imgur.com/wiuxsXe.png');
	background-size: cover;
}
.wep_17{
	background: url('http://i.imgur.com/vKb2P3m.png');
	background-size: cover;
}
.wep_18{
	background: url('http://i.imgur.com/Y3WA0Ov.png');
	background-size: cover;
}
.wep_19{
	background: url('/img/idb/wep/21.jpg');
	background-size: cover;
}
.arrow_1{
	background: url('http://i1.17173cdn.com/z6po4a/YWxqaGBf/images/data/grocery/big/Quest_green_liquor_glass_bottle.png');
	background-size: cover;
}
.arrow_2{
	background: url('http://cha.17173.com/bns/images/data/grocery/small/Gather_Element_Mannyeon.png');
	background-size: cover;
}
.arrow_3{
	background: url('http://cha.17173.com/bns/images/data/grocery/small/Gather_Element_Sipryeon.png');
	background-size: cover;
}
.arrow_4{
	background: url('http://cha.17173.com/bns/images/data/grocery/small/Grocery_YomaTooth.png');
	background-size: cover;
}
.arrow_5{
	background: url('http://i1.17173cdn.com/z6po4a/YWxqaGBf/images/data/grocery/big/Grocery_YumHwaHorn.png');
	background-size: cover;
}
.arrow_6{
	background: url('http://i1.17173cdn.com/z6po4a/YWxqaGBf/images/data/grocery/big/Gather_shiny_gemstone.png');
	background-size: cover;
}
.arrow_7{
	background: url('http://i1.17173cdn.com/z6po4a/YWxqaGBf/images/data/grocery/big/Gather_Element_Baekryeon.png');
	background-size: cover;
}

