.list-with-search{
	background: rgba(0, 0, 0, 0.75);
	position: relative;
	height: inherit;
}
.list-with-search .items-wrap{
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 36px;
	left: 0;
	right: 0;
	bottom: 0;
}
.list-with-search .item-table{
	table-layout: fixed;
	width: 100%;
	min-height: 64px;
}
.list-with-search .item-table td{
	vertical-align: top;
}
.list-with-search .item-table .icon-cell{
	width: 132px;
	overflow: hidden;
}
.list-with-search .list-item.selected{
	background: #391252
}
.list-with-search .list-item{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-height: 64px;
}
.list-with-search .list-item,
.list-with-search .list-item *{
	cursor: pointer;
}
.list-with-search .list-item .icon{
	height: 100%;
	width: 100px;
	background-size: cover;
	position: relative;
}
.list-with-search .list-item .item-name{
	padding-right: 17px;
}
.list-with-search .icon .square{
	position: absolute;
	width: 68px;
	top: 0;
	left: 0;
}
.list-with-search .icon .piece-6{
	top: 33px;
}
.list-with-search .icon .piece-7{
	left: 0;
}
.list-with-search .icon .piece-0{
	left: 33px;
}
.list-with-search .icon .piece-1{
	left: 66px;
}
.list-with-search .icon .piece-2{
	top: 33px;
	left: 66px;
}
.list-with-search .icon .piece-3{
	top: 66px;
	left: 66px;
}
.list-with-search .icon .piece-4{
	top: 66px;
	left: 33px;
}
.list-with-search .icon .piece-5{
	top: 66px;
}

.list-with-search .list-item label{
	padding-left: 15px;
	padding-top: 17px;
	display: inline-block;
	white-space: normal;
	line-height: 19px;
}
.list-with-search .empty-label{
	padding: 40px 15px;
	text-align: center;
	font-style: italic;
	font-size: 18px;
	opacity: 0.2;
}
.list-with-search .piece-detail{
	font-size: 11px;
	line-height: 13px;
	padding: 6px;
	font-family: monospace;
	color: grey;
	position: relative;
}
.list-with-search .piece-detail tr.main-stat{
	color: #d2d2d2;
}
.list-with-search .piece-detail table td{
	padding-right: 5px;
	min-width: 60px;
	overflow: hidden;
}
.list-with-search .piece-detail table td:nth-child(1){
	/*text-align: right;*/
	min-width: 72px;
}
.list-with-search .piece-detail .piece{
	width: 35px;
	margin-top: 5px;
}
