.search-bar-wrap{
	width: 100%;
	background: inherit;
	height: 36px;
	overflow: hidden;
}
.search-bar-wrap>*{
	display: inline-block;
	vertical-align: top;
}
.search-bar-wrap input{
	width: calc(100% - 36px);
	background: transparent;
	padding: 10px 15px;
	height: 36px;
	border-color: #ebe5fb;
}
.search-bar-wrap button{
	width: 36px;
	height: 36px;
	font-size: 24px;
	background: #ebe5fb;
	color: #2f3d08;
}
