.page
	> .site_contents_table table,
	.page_text > table
		width 902px
		margin-bottom 25px
		font-size 14px
		thead
			tr
				background: #5CA3F1;
				color: white
		tbody
			tr
				border-bottom 2px solid rgb(160, 200, 244)
		tbody td,
		thead th
			padding-left 17px
			padding-top 7px
			padding-bottom 7px
