@media (min-width: 1200px){
	::-webkit-scrollbar {
		width: 6px;
	}
	::-webkit-scrollbar-track {
			background-color:transparent;
	}
	::-webkit-scrollbar-thumb {
			background-color: #817e88;
			border-radius: 6px;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: #7c7196;
	}
}
@media (max-width: 1200px) {
	main .main-wrap {
		padding-left: 10px;
		padding-right: 10px;
	}
	main section .margin-left{
		margin-left: 10px;
	}
	.list-with-search .item-table .icon-cell {
		width: 66px;
	}
	.list-with-search .piece-detail .right{
		position: absolute;
		left: -20px;
		top: 13px;
	}
	.list-with-search .piece-detail .piece{
		width: 20px;
	}
	.bopae-piece-editor .controls-wrap{
		text-align: center;
	}
	.bopae-piece-editor .controls-wrap button{
		white-space: normal;
		width: 45%;
	}
}
@media (max-width: 767px) {
	h2{
		font-size: 18px;
	}
	h3{
		font-size: 16px;
	}
	body{
		font-size: 13px;
	}
	html{
		overflow: hidden;
	}
	header, main{
		position: fixed;
		width: 100%;
		z-index: 1;
	}
	header{
		height: 44px;
		top: 0;
	}
	footer{
		display: none
	}
	.logo{
		font-size: 17px;
		padding-top: 13px;
	}
	.bottom-tabs{
		display: block;
	}
	main {
		top: 44px;
		bottom: 49px;
		padding: 0;
		z-index: 0;
	}
	main .main-wrap{
		padding: 10px 0;
		height: 100%;
	}
	main section {
		width: calc(100% - 20px);
		margin: 0 10px;
	}
	main section .margin-left{
		margin-left: 0;
	}
	.bopae-calc{
		white-space: nowrap;
		height: inherit;
	}
	.bopae-calc section,
	.bopae-calc section .bopae-list,
	.bopae-calc section .bopae-piece-editor{
		height: inherit
	}

	.bopae-calc .bopae-piece-help{
		display: none;
	}
	.list-with-search .list-item label{
		padding-top: 8px;
		padding-left: 7px; 
	}
	.list-with-search .item-table .icon-cell {
		width: 0;
	}
}
