.item-card
	padding: 14px
	border-radius: 5px
	border: 1px solid rgb(207, 207, 207)
	width: 271px
	box-shadow: 0px 0px 5px 0px rgba(216, 216, 216, 1);
	background: white;
	z-index: 1;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 31px 20px;
	&:nth-child(1)
		margin-left: 0
	&, > *
		box-sizing: border-box
	.round-select
		height: 26px;
		margin-bottom: 6px;
	.name
		height: 55px
		padding-left: 11px
		width: 186px;
		font-size: 16px
		font-weight: 600
		margin-bottom: 11px
		&.purple
			color: #A800DC
		&.blue
			color: #006BDC
		&.orange
			color: #f97500
		&.green
			color: #00ad00;
	.name,
	.icon
			float: left
	.icon
		float: left
		width: 55px
		height: 55px
		border-radius: 5px
		background-size: cover
		opacity: 0.9
		margin-bottom: 11px
	.obtaining
		width: 100%;
		text-align: left
		padding-bottom: 6px;
	.descr
		float: left
		font-size: 14px
		width: 100%
		line-height: normal;
		> div
			width: 50%
			&:nth-child(2n)
				text-align: right
				b
					padding-right: 0
			b
				display: inline-block
				text-align: left
				padding-right: 10px;
				max-width: 25px;
