.item-card
	padding: 14px
	font-size: 14px
	border-radius: 5px
	border: 1px solid rgb(207, 207, 207)
	width: 271px
	box-shadow: 0px 0px 5px 0px rgba(216, 216, 216, 1);
	background: white;
	z-index: 1;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 31px 20px;
	line-height: normal;
	&:nth-child(1)
		margin-left: 0
	&, > *
		box-sizing: border-box
	.round-select
		height: 20px;
		font-size: 10px;
	.name
		height: 55px
		padding-left: 11px
		width: 186px;
		font-size: 16px
		font-weight: 600
		margin-bottom: 11px
		line-height: 18px;
		margin-top: 0;
		padding-bottom: 0;
	.name
	span
		&.purple
			color: #A800DC
		&.blue
			color: #006BDC
		&.orange
			color: #f97500
		&.green
			color: #00ad00;
	.name,
	.icon
			float: left
	.icon
		float: left
		width: 55px
		height: 55px
		border-radius: 5px
		background-size: cover
		opacity: 0.9
		margin-bottom: 11px
	.bonuses
		color: #296b29;
	.min-lvl
	.break
	.bonuses
	.obtaining
	.descr
		margin-bottom: 6px;
		&:empty
			display: none
	.break
		span
			font-weight: 600;
	.obtaining
		width: 100%;
		text-align: left
	.descr
		float: left
		font-size: 14px
		width: 100%
		> div
			width: 50%
			float: left
			&:nth-child(2n)
				text-align: right
				float: right
				b
					padding-right: 0
			b
				display: inline-block
				text-align: left
				padding-right: 10px;
				max-width: 25px;
//лайки
.item-card
	.fave
		display: none;
	&.favable
		.icon
			&:hover
				.fave
					display: block;
					font-size: 40px;
					text-align: center;
					text-shadow: 3px 0px 20px rgb(6, 33, 60);
					transition: transform 0.1s, color 0.2s, text-shadow 0.1s, font-size 0.03s;
			.fave
				display: none;
				cursor: pointer;
				font-size: 40px;
				color: rgba(255, 255, 255, 0.89);
				transition: transform 0.1s, color 0.2s, text-shadow 0.8s, font-size 0.03s;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				&:active
					transform: scale(1.2, 1.2);
	&.faved
		.icon
			.fave
				color: rgba(0, 122, 255, 0.89)
				display: block
				font-size: 18px
				text-align: left;
				text-shadow: none;
//END лайки
//черная
.item-card.dark
	background: #1e3048
	border: 1px solid #2b4261;
	box-shadow: 0px 0px 15px 0px #142335;
	color: #cccccc;
	.round-select
		height: 21px
		td
			background: #1c375a;
			color: #bdbdbd;
			&.active
				background: #5ca3f1;
				color: white
	.icon
		background-color: black;
		border: 3px solid black;
	.purple
		color: #c94df7;
		text-shadow: 1px 1px 1px #330544;
	.blue
		color: #0878ef;
		text-shadow: 1px 1px 1px #330544;
	.white
		color: #e4e4e4;
	.bonuses
		color: #64d883;
	.descr
		b
			color: white;

//END черная
//очень маленькая
.item-card.tiny
	box-shadow: none
	border-radius: 0
	font-size: 12px
	margin: 0;
	padding: 0
	display: table
	table-layout: fixed
	width: 100%
	border-bottom: 0
	border-left: 0
	border-right: 0
	.icon-wrap
		width: 83px
		padding: 14px
	.stats-wrap
		padding-right: 14px
	.icon-wrap
	.stats-wrap
		padding-top: 7px
		padding-bottom: 7px
		display: table-cell;
		vertical-align: top;
	.icon
		margin-bottom: 0
	.name
		font-size: 14px
		width: 100%;
		padding-left: 0;
		height: auto;
		margin-bottom: 2px;
//END очень маленькая
