.item-search-popup
	font-size: 14px
	border-radius: 5px
	width: 271px
	background: white
	overflow: hidden;
	.search
		padding: 14px
		input
			width: 100%;
			border: 1px solid #5ca3f1;
			padding: 7px;
			border-radius: 3px;
			&:focus
				outline: none;
				border-color: #4987cb;
				background: #f7fbff;
	.items
		overflow-x: hidden;
		overflow-y: auto;
		height: 300px;
		.separator
			padding: 4px 14px;
			color: #888888;
		.item-card
			cursor: pointer;
