<script type="text/javascript" async src="/static/js/textpages/textpages.js"></script>
<link rel="stylesheet" href="/static/css/morfitems.css" type="text/css">
<link rel="stylesheet" href="/static/css/textpages/textpage.css" type="text/css">
<link rel="stylesheet" href="/static/css/textpages/weps.css" type="text/css">
<link rel="stylesheet" href="/static/css/textpages/wepsThin.css" type="text/css">


<div class="page">
	<div class="page_text f_l">
		{{= it.content }}
		<div id="page_contents" class="pc_nojs"> <!-- TODO: сгенерировать -->
				<p>Содержание</p>
			<ul>
				<li><a href="#Начальная бижутерия">Начальная бижутерия</a></li>
				<li><a href="#Проходная бижутерия">Проходная бижутерия</a></li>
				<li><a href="#Топовая PVE бижутерия">Топовая PVE бижутерия</a></li>
			</ul>
	 </div>
	 <p class="author">
	 — {{= it.author}}
	 </p>
 </div>
 <!--
	<div class="page_add f_l"><!-- TODO: сгенерировать, показывать только если есть --><!--
			<div class="pa_add_body">
				<div class="pa_add_title">Смотрите также</div>
				<div class="pa_add_content">
					<ul>
						<li><a href="/equip/accessory/on45/">Бижутерия на 45 уровне</a></li>
						<li><a href="/equip/weapons/on45/">Оружие на 45 уровне</a></li>
						<li><a href="/daily#plane">Ежедневные квесты Равнины изобилия</a></li>
					</ul>
				</div>
			</div>
	</div>
-->

	<link rel="stylesheet" href="/static/css/textpages/tables.css" type="text/css"><!-- TODO: сгенерировать, показывать если не выключено -->
	<div class="site_contents_table">
		<table class="">
			<thead>
				<tr>
					<th colspan="2">
						Смотрите также
					</th>
				</tr>
			</thead>
			<tr>
				<td>
					Об игре
				</td>
				<td>
					<a href="/aboutgame/start">Как начать играть</a>
					<a href="/aboutgame/morf">Что такое морф</a>
					<a href="/aboutgame/phmorf">Дерево морфа оружия Пути Хона</a>
					<a href="/aboutgame/stats">Характеристики персонажа</a>
					<a href="/map">Интерактивная карта игры</a>
					<a href="/daily">Ежедневные квесты</a>
				</td>
			</tr>
			<tr>
				<td>
					Экипировка
				</td>
				<td>
					<a href="/equip/weapons/under45">Оружие до 45 уровня</a>
					<a href="/equip/weapons/on45">Оружие на 45</a>
					<a href="/equip/weapons/gems">Драгоценные камни</a>
					<br>
					<a href="/equip/accessory/under45">Бижутерия до 45 уровня</a>
					<a href="/equip/accessory/on45">Бижутерия на 45</a>
					<br>
					<a href="/equip/bopae/under45">Скрижали до 45 уровня</a>
					<a href="/equip/bopae/on45">Скрижали на 45</a>
					<a href="/equip/bopae/list">Характеристики скрижалей</a>
					<a href="/equip/bopae/powerup">Заточка скрижалей</a>
				</td>
			</tr>
			<tr>
				<td>
					Калькулятор умений
				</td>
				<td>
					<a href="/skills/asn">Ассасин</a>
					<a href="/skills/bm">Мастер клинка</a>
					<a href="/skills/lsm">Лин мастер клинка</a>
					<a href="/skills/sum">Мастер призыва</a>
					<a href="/skills/des">Мастер секиры</a>
					<a href="/skills/kfm">Кунг-фу мастер</a>
					<a href="/skills/fm">Мастер стихий</a>
				</td>
			</tr>
			<tr>
				<td>
					Крафт
				</td>
				<td>
					<a href="/craft/general">Особенности крафта</a>
					<a href="/craft/actual">Актуальные професии</a>
					<a href="/craft/ingredients">Ингредиенты</a>
				</td>
			</tr>
		</table>
	</div>
	<!--
	TODO: показывать если не выключено
	<div class="bottom_adds_wrap">
		<div class="bottom_adds_content">
			<div class="adds_desktop">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
					 style="display:inline-block;width:728px;height:90px"
					 data-ad-client="ca-pub-8428500137598439"
					 data-ad-slot="9597743103"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<div class="adds_mobile">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
					 style="display:inline-block;width:320px;height:100px"
					 data-ad-client="ca-pub-8428500137598439"
					 data-ad-slot="6365075104"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	</div>
TODO: показывать если не выключено
	<div id="hypercomments_widget"></div>
	<script type="text/javascript">
	_hcwp = window._hcwp || [];
	_hcwp.push({widget:"Stream", widget_id: 22230});
	(function() {
	if("HC_LOAD_INIT" in window)return;
	HC_LOAD_INIT = true;
	var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
	var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
	hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/22230/"+lang+"/widget.js";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(hcc, s.nextSibling);
	})();
	</script>
	-->
</div>
