.bopae-circle {
	position: relative;
	margin: 44px 0 88px;
	user-select: none;
}
.bopae-circle .bopae-bg-image{
	opacity: 0.5
}
.bopae-circle .bopae-piece {
	pointer-events: none;
	position: absolute;
	transition: z-index 0s ease 0.2s;
	z-index: 1;
	cursor: pointer;
}
.bopae-circle .bopae-piece.selected {
	z-index: 2;
}
.bopae-circle .bopae-piece:hover {
	z-index: 3;
	transition-delay: 0s;
}

.bopae-circle .bopae-piece img {
	position: absolute;
	transition: all 0.2s ease;
}
.bopae-circle .bopae-piece.selected.empty img{
	transform: none !important;
}
.bopae-circle .bopae-piece.selected img {
	filter: drop-shadow(0 0 4px #8149d6);
}
.bopae-circle:hover .bopae-piece:not(:hover) img {
	filter: brightness(50%);
}
.bopae-circle .bopae-piece.empty:not(.selected) img,
.bopae-circle .bopae-piece:not(.selected) img{
	transform: none !important;
}
.bopae-circle .bopae-piece.empty:not(.selected):not(:hover) img {
	opacity: 0;
	transform: none !important;
}
.bopae-circle:hover .bopae-piece.empty:hover img {
	filter: drop-shadow(0 0 4px green);
	transform: none !important;
}

.bopae-circle .bopae-piece-mask {
	position: absolute;
}
.bopae-circle .bopae-piece-mask polygon {
	pointer-events: all;
	fill: none;
}

.bopae-circle .bopae-piece.selected .bopae-piece-help{
	opacity: 0!important;
}
.bopae-piece-help{
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	opacity: 0;
}
.bopae-circle .bopae-piece:hover .bopae-piece-help{
	opacity: 0.5
}
.bopae-piece-help label{
	opacity: 0;
	transition: opacity .5s;
}
.bopae-piece-help .arrow{
	opacity: 0;
	transition: opacity .2s;
}
.piece-0 .bopae-piece-help .plate,
.piece-4 .bopae-piece-help .plate{
	transform-origin: 50% 0;
}
.piece-1 .bopae-piece-help .plate,
.piece-2 .bopae-piece-help .plate,
.piece-3 .bopae-piece-help .plate{
	transform-origin: 0 0;
}
.piece-5 .bopae-piece-help .plate,
.piece-6 .bopae-piece-help .plate,
.piece-7 .bopae-piece-help .plate{
	transform-origin: 100% 0;
}
.bopae-piece-help .plate{
	width: 100px;
	transform: scale(0, 0);
	transition: transform .45s;
}
.bopae-circle .bopae-piece:hover .arrow{
	opacity: 1
}
.bopae-circle .bopae-piece:hover .plate{
	transform: scale(1, 1)
}
.bopae-circle .bopae-piece:hover label{
	opacity: 1
}


.bopae-piece-help label{
	position: relative;
	text-align: center;
	display: block;
	font-family: monospace;
	font-size: 11px;
	line-height: 13px;
}
.bopae-piece-help .arrow,
.bopae-piece-help .plate{
	border-top: 1px solid #ebe5fb;
	position: relative;
}
.bopae-piece-help .arrow{
	width: 21px;
}

.piece-0 .bopae-piece-help .arrow{
	left: 53px;
	top: -8px;
	transform: rotate(90deg);
}
.piece-0 .bopae-piece-help .plate{
	top: -20px;
	left: 15px;
}
.piece-0 .bopae-piece-help label{
	top: -39px;
	width: 240px;
	left: -57px;
}

.piece-1 .bopae-piece-help .arrow{
	left: 85px;
	transform: rotate(-45deg);
	top: 33px;
}
.piece-1 .bopae-piece-help .plate{
	top: 25px;
	left: 103px;
}
.piece-1 .bopae-piece-help label{
	bottom: -7px;
	left: 95px;
	width: 123px;
}
.piece-1 .bopae-piece-help label.too-long{
	bottom: 6px;
}

.piece-2 .bopae-piece-help .arrow{
	left: 123px;
	top: 63px;
	display: none;
}
.piece-2 .bopae-piece-help .plate{
	top: 63px;
	left: 123px;
}
.piece-2 .bopae-piece-help label{
	bottom: -45px;
	left: 126px;
	width: 123px;
}
.piece-2 .bopae-piece-help label.too-long{
	bottom: -32px;
}

.piece-3 .bopae-piece-help .arrow{
	left: 84px;
	top: 96px;
	transform: rotate(45deg);
}
.piece-3 .bopae-piece-help .plate{
	top: 103px;
	left: 102px;
}
.piece-3 .bopae-piece-help label{
	bottom: -85px;
	left: 107px;
	width: 123px;
}
.piece-3 .bopae-piece-help label.too-long{
	bottom: -72px;
}

.piece-4 .bopae-piece-help .arrow{
	left: 53px;
	top: 135px;
	transform: rotate(90deg);
}
.piece-4 .bopae-piece-help .plate{
	top: 145px;
	left: 15px;
}
.piece-4 .bopae-piece-help label{
	top: 149px;
	width: 240px;
	left: -57px;
}

.piece-5 .bopae-piece-help .arrow{
	left: 22px;
	top: 96px;
	transform: rotate(-45deg);
}
.piece-5 .bopae-piece-help .plate{
	top: 103px;
	left: -75px;
}
.piece-5 .bopae-piece-help label{
	bottom: -85px;
	left: -105px;
	width: 123px;
}
.piece-5 .bopae-piece-help label.too-long{
	bottom: -72px;
}

.piece-6 .bopae-piece-help .arrow{
	left: -76зч;
	top: 63px;
	display: none;
}
.piece-6 .bopae-piece-help .plate{
	top: 63px;
	left: -98px;
}
.piece-6 .bopae-piece-help label{
	bottom: -45px;
	left: -123px;
	width: 123px;
}
.piece-6 .bopae-piece-help label.too-long{
	bottom: -32px;
}

.piece-7 .bopae-piece-help .arrow{
	left: 22px;
	transform: rotate(45deg);
	top: 33px;
}
.piece-7 .bopae-piece-help .plate{
	top: 25px;
	left: -75px;
}
.piece-7 .bopae-piece-help label{
	bottom: -7px;
	left: -84px;
	width: 123px;
}
.piece-7 .bopae-piece-help label.too-long{
	bottom: 6px;
}
